@import url(./theme.css); 
@import url(./reset.css);
@import url(./fonts.css);


.css-pculus-e1ovi4141 {
  min-width: 1050px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #fff;
}

.css-o5dw7d-e1ovi4140 {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: #333;
}

.css-mhmtvt-e15so55l1 {
  width: 640px;
  margin: 0px auto;
}

.css-rb0i47-e1yyjjij1 {
  padding-bottom: 10px;
  width: 105%;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}

.css-qq9ke6-e1yyjjij0 {
  color: rgb(238, 106, 123);
}

.css-y8aj3r-eo6ykj40 {
  padding: 0px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1w0ksfz-e744wfw2 > button {
  height: 44px;
  border-radius: 3px;
}

.css-ufulao-e4nu7ef3 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

.css-ymwvow-e4nu7ef1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1w0ksfz-e744wfw2 > button {
  height: 44px;
  border-radius: 3px;
}

.css-ufulao-e4nu7ef3 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

.css-ymwvow-e4nu7ef1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-jmalg-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-176lya2-e1uzxhvi3 {
  position: relative;
  height: 48px;
}

.css-1bkd15f-e1uzxhvi2 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-ufulao-e4nu7ef3:disabled {
  border-color: rgb(221, 221, 221);
  color: rgb(221, 221, 221);
}

.css-1w0ksfz-e744wfw2 > button {
  height: 44px;
  border-radius: 3px;
}

button[disabled], input[disabled] {
  cursor: default;
}

.css-ufulao-e4nu7ef3 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

.css-1w0ksfz-e744wfw2 > button > span {
  font-weight: 500;
  font-size: 14px;
}

.css-ymwvow-e4nu7ef1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-1schgvv-e4nu7ef3 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

.css-1schgvv-e4nu7ef3 > span {
  font-size: 14px;
  font-weight: 500;
}

.css-ymwvow-e4nu7ef1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.css-1m3kac1-e4nu7ef0 {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

.css-vukl2m-eq6ygzw0 {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(102, 102, 102);
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-14wodj6-es1pbny0 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
}

.css-z9g6s0-et8nqc33 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-1pes2r6-e2sqze60 {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.css-1dahn5m-e2sqze60 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.css-14wodj6-es1pbny0 > label > span {
  font-size: 14px;
}

.css-mgd87h-et8nqc31 {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.css-z9g6s0-et8nqc33 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-1pes2r6-et8nqc32 {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.css-14wodj6-es1pbny0 > label > span {
  font-size: 14px;
}

.css-198i9ca-e2sqze61 {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.css-1dahn5m-e2sqze60 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.css-14wodj6-es1pbny0 > label > span {
  font-size: 14px;
}

.css-mgd87h-et8nqc31 {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.css-z9g6s0-et8nqc33 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-1pes2r6-et8nqc32 {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.css-14wodj6-es1pbny0 > label > span {
  font-size: 14px;
}

.css-5xw1m2-e2sqze61 {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: rgb(95, 0, 128);
}

.css-1vic0rk-e2sqze60 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
}

.css-14wodj6-es1pbny0 > label > span {
  font-size: 14px;
}

.css-mgd87h-et8nqc31 {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-18n8lnw-e1ke3ehm1 {
  height: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: 0px 15px;
}

.css-1dkwuq4-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-xsmgyi-e1uzxhvi3 {
  position: relative;
  height: 40px;
}

.css-1dkwuq4-e1uzxhvi6 input {
  text-align: center;
  font-size: 14px;
  border: none;
}

.css-1368454-e1uzxhvi2 {
  width: 100%;
  height: 40px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-5lnvt6-e1ke3ehm0 {
  height: 100%;
}

.css-5lnvt6-e1ke3ehm0::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

.css-1dkwuq4-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-xsmgyi-e1uzxhvi3 {
  position: relative;
  height: 40px;
}

.css-1dkwuq4-e1uzxhvi6 input {
  text-align: center;
  font-size: 14px;
  border: none;
}

.css-1368454-e1uzxhvi2 {
  width: 100%;
  height: 40px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-5lnvt6-e1ke3ehm0 {
  height: 100%;
}

.css-5lnvt6-e1ke3ehm0::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

.css-1dkwuq4-e1uzxhvi6 {
  padding-bottom: 0px;
}

.css-xsmgyi-e1uzxhvi3 {
  position: relative;
  height: 40px;
}

.css-1dkwuq4-e1uzxhvi6 input {
  text-align: center;
  font-size: 14px;
  border: none;
}

.css-1368454-e1uzxhvi2 {
  width: 100%;
  height: 40px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1pjgd36-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-14wodj6-eccfjof0 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
}

.css-z9g6s0-et8nqc33 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-1pes2r6-et8nqc32 {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.css-14wodj6-eccfjof0 > label > span {
  font-size: 14px;
}

.css-198i9ca-e2sqze61 {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.css-1dahn5m-e2sqze60 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.css-14wodj6-eccfjof0 > label > span {
  font-size: 14px;
}

.css-mgd87h-et8nqc31 {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.css-z9g6s0-et8nqc33 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-1pes2r6-et8nqc32 {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.css-14wodj6-eccfjof0 > label > span {
  font-size: 14px;
}

.css-198i9ca-e2sqze61 {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.css-1dahn5m-e2sqze60 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.css-14wodj6-eccfjof0 > label > span {
  font-size: 14px;
}

.css-mgd87h-et8nqc31 {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.css-1w0ksfz-e744wfw2 {
  width: 120px;
  margin-left: 8px;
}

.css-1eo0fey-e1j7jtti0 {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.css-y8aj3r-e1k9oeg10 {
  padding: 0px;
}

.css-2yzr8b-e744wfw6 {
  display: inline-flex;
  width: 100%;
  padding: 10px 0px 10px 20px;
}

.css-1y8737n-e744wfw5 {
  width: 139px;
  padding-top: 12px;
}

.css-1obgjqh-e744wfw4 {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.css-qq9ke6-e744wfw0 {
  color: rgb(238, 106, 123);
}

.css-82a6rk-e744wfw3 {
  flex: 1 1 0%;
}

.css-ov2xfu-e1sjmfnv7:first-of-type {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 12px;
}

.css-ov2xfu-e1sjmfnv7 {
  display: flex;
  padding: 8px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.css-qihf5m-e1dcessg3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-weight: 500;
  font-size: 18px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-nygcgj-e1sjmfnv6 {
  font-size: 12px;
  color: rgb(102, 102, 102);
  padding-top: 4px;
  padding-left: 36px;
}

.css-ov2xfu-e1sjmfnv7 {
  display: flex;
  padding: 8px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.css-s5xdrg-e1sjmfnv4 {
  display: flex;
  align-items: center;
}

.css-18r9a6u-e1dcessg3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-g5xq45-e1sjmfnv5 {
  padding-left: 5px;
  color: rgb(153, 153, 153);
  font-size: 14px;
}

.css-7chi73-e1sjmfnv3 {
  padding-right: 35px;
  color: rgb(95, 0, 128);
  letter-spacing: 0px;
  font-size: 14px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.css-7chi73-e1sjmfnv3::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 9px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==) 50% 50% / 6px 9px no-repeat;
}

.css-ov2xfu-e1sjmfnv7 {
  display: flex;
  padding: 8px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.css-s5xdrg-e1sjmfnv4 {
  display: flex;
  align-items: center;
}

.css-18r9a6u-e1dcessg3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-g5xq45-e1sjmfnv5 {
  padding-left: 5px;
  color: rgb(153, 153, 153);
}

.css-7chi73-e1sjmfnv3 {
  padding-right: 22px;
  color: rgb(95, 0, 128);
  letter-spacing: 0px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.css-7chi73-e1sjmfnv3::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 9px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==) 50% 50% / 6px 9px no-repeat;
}

.css-ob6kg2-e1sjmfnv7 {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
}

.css-s5xdrg-e1sjmfnv4 {
  display: flex;
  align-items: center;
}

.css-18r9a6u-e1dcessg3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-g5xq45-e1sjmfnv5 {
  padding-left: 5px;
  color: rgb(153, 153, 153);
}

.css-1qsjbts-e1sjmfnv2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 24px;
}

.css-jllwfz-e1dcessg3 {
  padding: 14px 80px 9px 0px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-jllwfz-e1dcessg3 {
  padding: 14px 80px 9px 0px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-1qsjbts-e1sjmfnv2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 24px;
}

.css-e4ph5f-e1sjmfnv1 {
  margin-left: 36px;
  padding-left: 16px;
  background: url(https://res.kurly.com/pc/service/common/2006/ico_sub_dot.svg) 0px 0px / 16px 20px no-repeat;
  font-size: 12px;
  color: rgb(95, 0, 128);
  line-height: 18px;
  letter-spacing: -0.5px;
}

.css-ov2xfu-e1sjmfnv7 {
  display: flex;
  padding: 8px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.css-s5xdrg-e1sjmfnv4 {
  display: flex;
  align-items: center;
}

.css-18r9a6u-e1dcessg3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-size: 14px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.css-agvwxo-e1dcessg2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.css-1wfsi82-e31wziv0 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.css-g5xq45-e1sjmfnv5 {
  padding-left: 5px;
  color: rgb(153, 153, 153);
}

.css-137ca2h-e1utgeno0 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  border-top: 1px solid rgb(247, 247, 247);
  padding: 40px 0px;
}

.css-18m884r-e4nu7ef3 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}

.css-ymwvow-e4nu7ef1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}