@import url(./theme.css); 
@import url(./reset.css);
@import url(./font.css);

.a11y-hidden
legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.main {
  min-width: 1050px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #fff;
}

.register-title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: #333;
}

.register {
  width: 640px;
  margin: 0px auto;
}

.linear-bold {
  padding-bottom: 10px;
  width: 105%;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}

.emphasis{
  color: rgb(238, 106, 123);
}

.required-entire {
  padding: 0px;
}

.input-entire {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}

.input-area-space {
  width: 139px;
  padding-top: 12px;
}

.text-area {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 20px;
}

.input-area {
  flex: 1 1 0%;
}

.input-first-layout {
  padding-bottom: 0px;
}

.input-second-layout {
  position: relative;
  height: 48px;
}

.input-start {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.button-area-space {
  width: 120px;
  margin-left: 8px;
}

.button-area-space > button {
  height: 44px;
  border-radius: 3px;
}

.button-entire {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

button-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.button-entire:disabled {
  border-color: rgb(221, 221, 221);
  color: rgb(221, 221, 221);
}

button[disabled], input[disabled] {
  cursor: default;
}

.button-area-space > button > span {
  font-weight: 500;
  font-size: 14px;
}

.search-button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}

.search-button > span {
  font-size: 14px;
  font-weight: 500;
}

.search-button-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

.detailed-description {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(102, 102, 102);
}

.gender-selection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.radio-button-entire {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0px 9px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.radio-button-inner-area {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.gender-selection > label > span {
  font-size: 14px;
}

.button-text-area {
  position: relative;
  font-size: 16px;
  margin-left: 12px;
}

.radio-button-input {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.radio-button {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.none-checked-button-area {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: rgb(95, 0, 128);
}

.none-checked-inner-area {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
}

.birthdate {
  height: 44px;
  display: flex;
  align-items: center;
  width: 91.5%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: 0px 15px;
}

.birthdate-input-area  {
  padding-bottom: 0px;
}

.birthdate-input-area  input {
  text-align: center;
  font-size: 14px;
  border: none;
}

.birthdate-text-area  {
  width: 100%;
  height: 40px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}

.slash {
  height: 100%;
}

.slash::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

.additional-selection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.additional-selection > label > span {
  font-size: 14px;
}

.linear {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.terms-of-use {
  padding: 0px;
}

.terms-of-use-area-space {
  display: inline-flex;
  width: 100%;
  padding: 10px 0px 10px 20px;
}


.separate-entire-area:first-of-type {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 12px;
}

.separate-entire-area {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: center;
}

.term-agree-all-entire-area {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-weight: 500;
  font-size: 18px;
}

.check-button-input  {
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
}

.check-button-area {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.additional-description  {
  font-size: 12px;
  color: rgb(102, 102, 102);
  padding-top: 4px;
  padding-left: 36px;
}

.terms-of-use-separate-area  {
  display: flex;
  align-items: center;
}

.terms-of-use-separate-text-area  {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  padding: 0px;
  font-size: 14px;
}

.terms-of-use-description {
  padding-right: 38px;
  color: rgb(95, 0, 128);
  letter-spacing: 0px;
  font-size: 14px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.terms-of-use-description::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 9px;
  background: url(/client/assets/icon/Vector.png) 50% 50% / 6px 9px no-repeat;
}

.required-or-option  {
  padding-left: 5px;
  color: rgb(153, 153, 153);
  font-size: 14px;
}

.receive-information {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
}

.type-selection-area-entire  {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.choose-type-selection  {
  padding: 14px 80px 9px 0px;
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);
  font-size: 14px;
}

.first-customer-benefit {
  margin-left: 36px;
  padding-left: 16px;
  background: url("/client/assets/icon/sub_dot.png") 0px 0px / 16px 20px no-repeat;
  font-size: 12px;
  color: rgb(95, 0, 128);
  line-height: 18px;
  letter-spacing: -0.5px;
}

.register-button-entire {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(247, 247, 247);
  padding: 40px 0px;
}

.register-button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
